
:root {
    --primary-color: #E8D4A2;
}

#pnw-logo {
    height: 90%;
}

.taskbar {
    background-color: rgba(184, 178, 178, 0.295); 
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
  
.taskbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
  
.taskbar-menu li {
    margin-right: 20px;
    color: black
}
  
.taskbar-menu li a {
    color: black;
    font-weight: 600;
    text-decoration: none;
    transition: color .3s;
}

.taskbar-menu li a:hover {
    color: var(--primary-color);
}
  
.taskbar-button {
    background-color: var(--primary-color);
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0;
    cursor: pointer;
    border-radius: 4px;
}

.search-and-sign-in {
    display: flex;
    
}